@use "./partials/palette";

* {
    margin: 0;
    padding: 0;
    color: palette.$primary-color;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: palette.$primary-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

.calculator {
    width: 350px;

    display: flex;
    flex-direction: column;
    background-color: palette.$primary-bg-color;
    border: 5px solid white;
    padding: 10px;

    &__display {
        background-color: palette.$primary-bg-color;
        text-align: right;

        &--default-text {
            margin: 1rem;
            font-size: 3.5rem;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "ac ac ac divide"
            "seven eight nine multiply"
            "four five six minus"
            "one two three plus"
            "zero zero dot equals";
        gap: 5px;

        &--item {
            text-align: center;
            padding: 1.5rem;

            &-clear {
                background-color: palette.$ac-btn-color;
                border-radius: 40px;
            }
            &-operators {
                background-color: palette.$operators-btn-color;
                border-radius: 50%;
            }
            &-digits {
                background-color: palette.$digits-btn-color;
                border-radius: 50%;
            }
            &-zero {
                background-color: palette.$digits-btn-color;
                border-radius: 40px;
            }
        }
    }
}

#ac {
    grid-area: ac;
}
#divide {
    grid-area: divide;
}
#multiply {
    grid-area: multiply;
}
#minus {
    grid-area: minus;
}
#plus {
    grid-area: plus;
}
#equals {
    grid-area: equals;
}
#nine {
    grid-area: nine;
}
#eight {
    grid-area: eight;
}
#seven {
    grid-area: seven;
}
#six {
    grid-area: six;
}
#five {
    grid-area: five;
}
#four {
    grid-area: four;
}
#three {
    grid-area: three;
}
#two {
    grid-area: two;
}
#one {
    grid-area: one;
}
#zero {
    grid-area: zero;
}
#dot {
    grid-area: dot;
}
